* {
  background-color: white;
  color: black;
  padding: 0;
  margin: 0;
}

.grid-principal {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  padding: 1%;
  justify-items: stretch;
  gap: 1%;
}
